.block-left {
	background: $pink;
	height: 100%;
	width: 50%;
	position: absolute;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
	z-index: 1;
	padding: 0 70px 90px;
	display: table;

	> div {
		display: table-cell;
		vertical-align: middle;
	}

	h1 {
		font-size: 0px;
		background: url(../img/logo.png) no-repeat center center;
		width: 50vw;
		height: 263px;
		margin: 0 -70px;
	}

	video {
		width: 100%;
		border: 3px solid $white;
		@include border-radius(2px);
		background: url(../img/cashmere2014_poster.jpg) no-repeat center center;
		@include background-size(cover);
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
		margin: 0 0 25px;
	}

	a#video-play {
		text-decoration: none;
		display: block;
		position: absolute;
		margin: -150px 0 0 -23px;
		left: 50%;
		height: 45px;
		width: 45px;
		font-size: 0px;
		background: rgba(0,0,0,0.3);
		border-radius: 100%;
		padding: 1px;
		opacity: 1;
		@include transition(opacity 0.5s);

		&:before {
			content: "";
			display: block;
			width: 43px;
			height: 43px;
			background: url(../img/play-button.png) no-repeat center center;
		}

		&.hide {
			opacity: 0;
		}
	}

	h2 {
		font-weight: 700;
		text-align: right;
		margin: 0;
		padding: 0;
		font-size: 13pt;
	}

	p {
		text-align: right;
		margin: 5px 0;
		position: relative;

		&:after {
			content: "";
			display: block;
			position: absolute;
			background: url(../img/pink-arrow.png) no-repeat center center;
			width: 40px;
			height: 34px;
			right: -55px;
			top: 20px;
		}
	}

	footer {
		margin: 50px 0 0;
		position: absolute;
		bottom: 30px;
		right: 70px;
		left: 30px;

		.cashmere-logo {
			display: inline-block;
			background: url(../img/home-cashmere.png) no-repeat center center;
			@include background-size(contain);
			font-size: 0px;
			width: 95px;
			height: 30px;
			float: left;
			margin: 5px 0 0;
		}

		a {
			display: inline-block;
			float: right;
			color: $grey;
			text-decoration: none;
			padding: 0px;
		}

		a:after {
			content: "";
			display: inline-block;
			width: 42px;
			height: 39px;
			background: url(../img/web-button.svg) no-repeat center center;
			@include background-size(contain);
			margin: 0 0 -13px 10px;
		}
	}
}