@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

//colours
$pink: #fad6e1;
$white: #ffffff;
$black: #282828;
$grey: #6e6e6e;

//font stacks
$font: "Helvetica Condensed", "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

* {
	@include box-sizing(border-box);
}

.container-main {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	font: 300 10pt/12pt $font;
	color: $grey;
}