.block-right {
    width: 50%;
    float: right;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.cd-image-container {
    position: relative;
    width: 100%;
    max-width: 768px;
    height: 100%;

    div.img {
        display: block;
        height: 100%;
        width: 50vw;
        background: no-repeat top center;
        @include background-size(cover);
    }
}

.cd-image-label {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ffffff;
    padding: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    @include transform(translateY(20px));
    -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
    -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
    transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;

    &.is-hidden {
        visibility: hidden;
    }
}

.is-visible .cd-image-label {
    opacity: 1;
    @include transform(translateY(0));
}

.cd-resize-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    /* Force Hardware Acceleration in WebKit */
    @include transform(translateZ(0));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    div.img {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 100%;
        width: 50vw;
        max-width: none;
        background: no-repeat top center;
        @include background-size(cover);
    }
}

.cd-resize-img .cd-image-label {
    right: auto;
    left: 0;
}

.is-visible .cd-resize-img {
    width: 95%;
    /* bounce in animation of the modified image */
    @include animation(cd-bounce-in 0.7s);
    border-right: 5px solid $black;
}

@include keyframes(cd-bound-in) {
    0% {
        width: 0;
    }
    60% {
        width: 55%;
    }
    100% {
        width: 50%;
    }
}

.cd-handle {
    position: absolute;
    height: 44px;
    width: 44px;
    /* center the element */
    left: 95%;
    top: 50%;
    margin-left: -24px;
    margin-top: -22px;
    border-radius: 100%;
    background: $white url(../img/compare-icon.png) no-repeat center center;
    cursor: move;
    border: 5px solid $black;
    opacity: 0;
    @include transform(translate3d(0, 0, 0) scale(0));

    &.draggable {
        background-color: $pink;
    }
}

.is-visible .cd-handle {
    opacity: 1;
    @include transform(translate3d(0, 0, 0) scale(1));
    -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
    -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
    transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}